@model ManufacturerModel
@{
   
}
<div class="page manufacturer-list-page">
 
    <div class="page-body">
        <div class="manufacturer-grid">
            <div class="item-grid">
                
                    <div class="item-box">
                        <div class="manufacturer-item">
                            
                            <div class="picture">
                                <a href="@Url.RouteUrl("Manufacturer", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
                                    <img alt="@Model.PictureModel.AlternateText" src="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title" />
                                </a>
                                <h2 class="title">
                                    @Model.Name (@Model.ProductCount)
                                </h2>

                                @*<p>(@Model.ProductCount)</p>*@

                            </div>

                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>


